body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

#projects {
    text-align: center;
    background: transparent;
    padding: 50px;
}

.slideshow-container {
    max-width: 800px; 
    margin: auto;
    position: relative;
    overflow: hidden;
    background: transparent;
}

.mySlides {
    display: none;
}

.project-img {
    width: 100%;
    height: auto;
}

.project-title {
    margin-top: 10px;
}

.btn-container {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
}
